[submodule "Ghidra/Processors/VAX"]
	path = Ghidra/Processors/VAX
        branch = main
	url = https://github.com/kkaempf/ghidra-vax.git
[submodule "Ghidra/Processors/NMOS-II"]
	path = Ghidra/Processors/NMOS-II
        branch = main
	url = https://github.com/kkaempf/ghidra-nmos-ii.git
